* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #001301;
    color: #fff;
    line-height: 1.6;
}

.container {
    max-width: 100%;
    padding: 20px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #2A3931;
    overflow: hidden;
    position: relative; /* Ensure it's the reference for absolute positioning */
}

.logo {
    position: absolute; /* Change from fixed to absolute */
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    max-width: 30%;
    height: auto;
    z-index: 1; /* Ensure it's on top of other elements */
    animation: flicker 2s infinite; /* Add flicker animation */
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0;
    }
}

.trailer {
    width: 80%;
    height: 35%; /* Maintain 16:9 aspect ratio */
    background-color: #0B1F12;
    border: 1.25px solid white;
    position: relative;
}

.trailer-video {
    width: 99.9%;
    height: 99.9%;
    object-fit: cover; /* Ensure the video covers the entire div */
    position: absolute;
    top: 0;
    left: 0;
}

.mute-button {
    position: absolute;
    bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
}

.mute-button img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */

}

.trailer::before,
.trailer::after,
.trailer .top-left,
.trailer .top-right {
    content: '';
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
}

/* Top-left line */
.trailer .top-left {
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    clip-path: polygon(0 0, 100% 100%, 98% 100%, 0 2%);
    transform: translate(-100%, -100%);
}

/* Top-right line */
.trailer .top-right {
    top: 0;
    right: 0;
    width: 12.5%;
    height: 12.5%;
    clip-path: polygon(100% 0, 0 100%, 2% 100%, 100% 2%);
    transform: translate(100%, -100%);
}

/* Bottom-left line */
.trailer::before {
    bottom: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    clip-path: polygon(0 100%, 100% 0, 98% 0, 0 98%);
    transform: translate(-100%, 100%);
}

/* Bottom-right line */
.trailer::after {
    bottom: 0;
    right: 0;
    width: 12.5%;
    height: 12.5%;
    clip-path: polygon(100% 100%, 0 0, 2% 0, 100% 98%);
    transform: translate(100%, 100%);
}

.section {
    margin-top: 30px;

    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

.process-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.grid-item {
    background-color: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.videos {
    background-color: #27362F;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.technicalArchitecture, .boxFromAbove {
    max-width: 100%;
    height: auto;
    z-index: 1; /* Ensure it's on top of other elements */
    margin-bottom: 30px;
}

.footer {
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0; /* Ensure there's no margin */
}

.team-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rahmen, .eigentuemer {
    width: 48%;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer > p {
    text-align: center;
    font-size: 14px;
}
